@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.original-price {
  color: #bfbfbf;
  text-decoration: line-through;
}
a {
  font-size: 15px;
  color: #333333;
  font-family: "Nunito Sans";
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-top: 0px;
}
label {
  font-size: var(--font-size-18);
  padding: 0 8px 0 0;
  margin-bottom: 0;
  text-align: left;
  max-width: 200px;
  min-width: 150px;
  color: #333333;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.price {
  font-size: 32px;
  line-height: 32px;
  color: #c92127;
  font-weight: 700;
  padding-top: 1em;
  padding-bottom: 1em;
}
.table-lable {
  color: #777;
  line-height: 1.6;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: normal !important;
}
h2 {
  font-family: sans-serif;
  font-weight: 700;
}
.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.apple-system {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.ant-select-clear {
  margin-right: 2.4rem;
}
