@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
label {
  font-size: var(--font-size-18);
  font-weight: 650;
  padding: 0 8px 0 0;
  margin-bottom: 0;
  text-align: left;
  max-width: 200px;
  min-width: 150px;
  color: #333333;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.price {
  font-size: 32px;
  line-height: 32px;
  color: #c92127;
  font-weight: 700;
  padding-top: 1em;
  padding-bottom: 1em;
}
span {
  font-family: "Nunito Sans" !important;
  color: var(--black);
  font-size: 14px;
  padding: 4px 0;
}
h2 {
  font-family: sans-serif;
  font-weight: 700;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
